.container{
    align-items: center;
    align-content: center;
    text-align: center;
    align-self: center;
    width: 150px;
    height: 150px;
    
}
   
.wall{
    align-items: center;
    align-content: center;
    text-align: center;
    align-self: center;
    display: none;
    width: 100%;
    height: 100%;
}

.wall:target{
    align-items: center;
    align-content: center;
    text-align: center;
    align-self: center;
    display: block;
}

  body{
    font-family: arial;
    background-color: tan;
    background-size: 100%;

}